@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}
nav {
  padding: 10px 2%;
  justify-content: space-between;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}

/*-----------------sidebar-----------*/

.shortcut-links a img {
  width: 20px;
  margin-right: 10px;
}
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}
.shortcut-links a:first-child {
  color: #ed3833;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}
.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
.small-sidebar {
  width: 5%;
}
.small-sidebar a p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}
.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/*---------main-------*/
.container {
  background: #f9f9f9;
  padding-right: 2%;
  padding-bottom: 20px;
  margin-left: -40px;
}
.backbanner {
  background: url("./images/BackGround-banner.jpg") no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
}
.content-banner {
  margin-left: 120px;
}
.content-banner h1 {
  color: #fff;
  font-size: 40px;
}
.btn-banner {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 16px 48px;
  margin: 12px 12px;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.btn-banner:hover {
  background: transparent;
  padding: 15px 47px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.large-container {
  padding-left: 7%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  
}
.vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}
.vid-list .flex-div {
  align-items: flex-start;
  margin-top: 7px;
}
.vid-list .flex-div img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.vid-info {
  color: #5a5a5a;
  font-size: 15px;
}
.vid-info a {
  color: #000;
  font-weight:700;
  display: block;
  margin-bottom: 5px;
}
.list-container a{
    font-weight: 700;
}
.vid-info p{
  font-size: small;
}

/*-----------reponsive-------*/
@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .container,
  .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-right img {
    display: none;
  }
  .nav-right .user-icon {
    display: block;
    width: 30px;
  }
  .nav-middle .search-box input {
    width: 100px;
  }
  .nav-middle .mic-icon {
    display: none;
  }
  .logo {
    width: 90px;
  }
  .backbanner {
    height: 260px;
    padding-left: 12px;
  }
  .content-banner {
    margin-left: 0;
  }
}

/*---------------p;ay video---------*/
.play-container {
  padding-left: 2%;
}
.row {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.play-video {
  flex-basis: 69%;
  margin-left: -150px;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}
.text {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  margin: 12px 12px 12px 0px;
  background-color: #f2f0f5;
  white-space: nowrap;
}
.text:focus {
  background-color: black;
  color: #fff;

}
.text:hover{
  background-color:  #e7e7e7;
}
.right-sidebar {
  flex-basis: 35%;
  margin-left: 20px;

}
.play-video video {
  width: 100%;
}
.side-video-list {
  
  display: flex;
  justify-content:space-between;
  margin-bottom:-15px;

}
.side-video-list img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.side-video-list .small-thumbnail {
  flex-basis: 49%;
  
}
.side-video-list .vid-info {
  flex-basis: 49%;
}

.play-video .tags a {
  color: #00f;
  font-size: 14px;
}
.play-video h3 {
  font-weight: 600;
  font-size: 24px;
}
.play-video .play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
.play-video .play-video-info a img {
  width: 20px;
  margin-right: 8px;
}
.play-video .play-video-info a {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.play-video hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
.like {
  display: flex;
  border-radius: 20px;
  background-color: #e7e7e7;
  
  padding: 13px;
  margin-left: -200px;

}

.plublisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.plublisher div {
  flex: 1;
  line-height: 18px;
}
.plublisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.plublisher div p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.plublisher div span {
  font-size: 13px;
  color: #5a5a5a;
}
.plublisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.vid-description {
  height: 90px;
  border-radius: 15px;
  background-color: #e7e7e7;
  padding-left: 55px;
  padding-top: 20px;
  margin: 15px 0;
}
.vid-description p {
  font-size: 14px;
  margin-bottom: 4px;
  color: #5a5a5a;
}
.vid-description h4 {
  font-size: 18px;
  color: #5a5a5a;
  margin-top: 16px;
}

.add-comment {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.add-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 16px;
}
.add-comment input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-top: 12px;
  background: transparent;
}

.old-comment {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.old-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 16px;
}
.old-comment h3 {
  font-size: 14px;
  margin-bottom: 4px;
}
.old-comment h3 span {
  font-size: 12px;
  color: #555;
  font-weight: 500;
  margin-left: 8px;
}

.acomment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.acomment-action img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.acomment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}
.acomment-action a {
  color: #00f;
}

@media (max-width: 900px) {
  .play-video {
    flex-basis: 100%;
  }
  .right-sidebar {
    flex-basis: 100%;
  }
  .play-container {
    padding-left: 5%;
  }
  .vid-description {
    padding-left: 0;
  }
  .play-video .play-video-info a {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}
* {
  font-family: "Roboto", Arial, sans-serif;
}
/* ajhsjaklsjkslasas */
.ajhsjaklsjkslasas {
  width: 100%;
  border-bottom: 2px solid #e7e7e7;
}
/* ajhsjaklsjkslasass */
.cross-cut {
  width: 100%;
  border-bottom: 4px solid #e7e7e7;
}
/* jsdjkdsjdkasas */
.draw-icon1  {
  width: 90px;
  height: 20px;
}
/* kdsjskldjkalsfcds */
.kdsjskldjkalsfcds { 
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right {
  gap: 30px;
}
.nav-left {
  gap: 20px;
}
